{
  "branches": ["main"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/github",
      {
        "assets": [
          { "path": "*", "label": "libs" },
          { "path": "!node-modules/*", "label": "exclude-node" },
        ]
      }
    ]
  ]
}
